* {
  padding: 0;
  margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/** top part**/
header {
  background-image: url("/assets/bg1.jpg");
  padding: 0px 120px;
  height:100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.logo {
  padding-top: 21px;
  padding-right: 146px;
}
.top {
  
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.menu {
  padding-top: 50px;
}
.menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
}

.menu ul li:not(:last-child) {
  padding-right: 35px;
}
.features {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding-left: 178px;
  padding-top: 40px;
}

.logo1 {
  padding: 0px 17px;
}

.language {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: right;
  color: white;
  padding-right: 6px;
}

.line {
  padding: 0 24px;
}

/**a center part **/

.center {
  font-family: Bebas Neue;
  text-align: center;
  padding: 7px 0px;
  color: white;
  margin: 250px;
  
}

.center h1{
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 5px;
}

.center h3{
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn {
  border: none;
  border-radius: 4%;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  width: 260px;
  height: 60px;
  margin: 28px 0px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
}

/**a scroll down**/

.down {
  display: flex;
  flex-direction: column;
  width: 68px;
  height: 24px;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  padding: 0px 510px;
  margin-left: auto;
  margin-right: auto;
}

.down img {
  width: 20px;
  height: 8px;
}

/**footer**/

footer {
  background-color: black;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 50px 160px;
  justify-content: space-between;
}

.skull{
  border: 2px solid #000;
}
.info {
  padding: 220px 70px;
}

.data {
  padding-bottom: 40px;
}
.data h4 {
  font-family: Bebas Neue;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
  text-align: left;
  color: white;
}

.data h3 {
  font-family: Bebas Neue;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: left;
  color: white;
  padding-bottom: 30px;
}

.data span {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  text-align: left;
}

form input {
  width: 70%;
  height: 70px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.08);
  color: rgba(255, 181, 72, 1);
}

.subscribe {
  background: rgba(255, 181, 72, 1);
  width: 30%;
  height: 75px;
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  border-radius: 4%;
}

.interaction {
  display: flex;
  flex-direction: row;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.socialMedias {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 86px;
}

.socialMedias img:not(:last-child) {
  padding-right: 60px;
}

.policy {
  padding-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.solidLine {
  border-top: 0.87px solid rgb(99, 90, 90);
  padding-bottom: 30px;
}

.credentials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 48px;
}

.reserved {
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  color: rgb(119, 106, 106);
}

.laws {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: right;
  color: white;
}

/**First sectin in the main part**/
.main__first-section{
  background-image: url('/assets/main_part/about.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height:700px;
  box-sizing: border-box;
  
}

.main__first-section__content{
  justify-content: space-between;
}
.main__first-section___info{
  font-family: Bebas Neue;
  text-align: left;
  flex:4; /*a shorthand*/
  color:white;
  margin-right: 20px;
  padding: 150px 0px;
}

.main__first-section___info__label{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 2px;
  
}

.main__first-section___info__header{
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 3px;
  
}
.main__first-section__info__line{
  border-top: 0.9px solid white;
  padding-bottom: 20px;
}
.main__first-section__info__description{
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 400;

}

.main__first-section_images{
 
  position: relative;
  align-items: center;
  justify-content: center;
  height: 50%;
  display: flex;
  padding: 60px 0px;
  flex:5;
}

.main__first-section_images >*img{
  padding: 0px 15px;
  border-radius: 3%;
}
.main__first-section_images__card{
  flex: 0 0 auto;
  margin-right: -380px;
  object-fit: cover;
}
.main__first-section_images__card img{
  height: 100%;
  width: 100%;
}

.main__first-section_images__card:nth-child(1){
  width: 400px;
  height: 500px;
}
.main__first-section_images__card:nth-child(2){
  width: 400px;
  height: 450px;
}
.main__first-section_images__card:nth-child(3){
  width: 400px;
  height: 400px;
}

.main__first-section_images__card:nth-child(1){
  z-index: 100;
  
}
.main__first-section_images__card:nth-child(2){
  z-index: 50;
}
.main__first-section_images__card:nth-child(3){
  z-index: 10;
  
}

.main__first-section-switch{
  margin: auto 50px;
  flex:1;
}
