
h1{
    color:$primary;
    padding: $base-padding;
}

a{
    color:$secondary
}

button{
    color:white;
    background: $info;
//there is a nesting rule
    a{
    }
}

h1{
    color:$primary;
    padding: $base-padding;
}

a{
    color:$secondary
}

button{
    color:white;
    background: $info;
}